
<nav class="navbar navbar-expand-md navbar-light bg-light">
<div class="navbar-brand">

    <%= link_to root_path do %> 
            <%= image_tag("logo.png", alt: "Logo", style: "width:50%; margin-left: 1rem; ", class: "d-inline-block align-top") %>
        <% end %>  
        </div>
  
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "About", about1_path, class: "nav-link" %>
            </li>
        </ul>

</nav>
